:host ::ng-deep {
  .btn1{
    background-color:#aad5f9;
  }
  .btn{
    color:black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .info{
    margin-top: 10px;
  }
}
